<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mukmenev.android.findjob">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.mukmenev.android.findjob.social_networks.buy.VKInicialization"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mukmenev.android.findjob"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.mukmenev.android.findjob.activities.log_and_reg.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mukmenev.android.findjob.activities.log_and_reg.LoginUser"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.mukmenev.android.findjob.activities.log_and_reg.Registration"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.mukmenev.android.findjob.activities.MainList"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.mukmenev.android.findjob.activities.Details"
            android:label="@string/title_activity_details"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.mukmenev.android.findjob.activities.AddAd"
            android:parentActivityName="com.mukmenev.android.findjob.activities.MainList"
            android:theme="@style/MyActionBar" />
        <activity
            android:name="com.mukmenev.android.findjob.activities.MessageToDevelopers"
            android:parentActivityName="com.mukmenev.android.findjob.activities.MainList"
            android:theme="@style/MyActionBar" />
        <activity
            android:name="com.mukmenev.android.findjob.activities.MyAdds"
            android:parentActivityName="com.mukmenev.android.findjob.activities.MainList"
            android:theme="@style/MyActionBar" />
        <activity
            android:name="com.mukmenev.android.findjob.activities.ListUsers"
            android:launchMode="singleTop"
            android:parentActivityName="com.mukmenev.android.findjob.activities.MainList"
            android:theme="@style/MyActionBar" />
        <activity
            android:name="com.mukmenev.android.findjob.activities.Dialog"
            android:parentActivityName="com.mukmenev.android.findjob.activities.ListUsers"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.mukmenev.android.findjob.activities.PrivateRoom"
            android:noHistory="true"
            android:parentActivityName="com.mukmenev.android.findjob.activities.MainList"
            android:theme="@style/MyActionBar" />
        <activity
            android:name="com.mukmenev.android.findjob.activities.Favorit"
            android:parentActivityName="com.mukmenev.android.findjob.activities.ListUsers"
            android:theme="@style/MyActionBar" />
        <activity android:name="com.mukmenev.android.findjob.admin.AdminPanel" />
        <activity
            android:name="com.mukmenev.android.findjob.find.FindResults"
            android:theme="@style/MyActionBar" />
        <activity
            android:name="com.mukmenev.android.findjob.coupons.Coupons"
            android:theme="@style/MyActionBar" />
        <activity
            android:name="com.mukmenev.android.findjob.edit_profile.EditProfile"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.mukmenev.android.findjob.viewer_images.ViewerImages"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
        <activity
            android:name="com.mukmenev.android.findjob.activities.Find"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.mukmenev.android.findjob.activities.ActivityContainer"
            android:parentActivityName="com.mukmenev.android.findjob.activities.MainList"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.mukmenev.android.findjob.activities.log_and_reg.ActivityContainerReg" />
        <activity android:name="com.mukmenev.android.findjob.edit_profile.EditProfile$Locate" />
        <activity android:name="com.mukmenev.android.findjob.admin.AllUsersAdmin" />
        <activity
            android:name="com.mukmenev.android.findjob.activities.review.RewiewActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity
            android:name="com.mukmenev.android.findjob.activities.OnModerate"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service android:name="com.mukmenev.android.findjob.notifications.Notifications">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.mukmenev.android.findjob.notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.mukmenev.android.findjob.activities.FindResult" />
        <activity android:name="com.mukmenev.android.findjob.social_networks.buy.FlexibleExampleActivity">

        </activity>
        <activity android:name="com.mukmenev.android.findjob.social_networks.buy.MarkerAd">

        </activity>
        <activity android:name="com.mukmenev.android.findjob.social_networks.buy.BuyUpAd">

        </activity>
        <service android:name="com.mukmenev.android.findjob.services.ServiceNotificationUsers"/>
        <receiver android:name="com.mukmenev.android.findjob.services.BroadcastServiceRestart">
            <intent-filter>
                <action android:name="YouWillNeverKillMe"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>